.tracker {
    width: 700px;
    margin: 50px auto;
    height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 4.5px;
}

.darkLine {
    border: 1px solid black;
    width: 30%;
    height: 1px;
    background-color: black;
}

.lightLine {
    border: 1px solid #dbd5d5;
    width: 30%;
    height: 1px;
    background-color: white;
}

.circle {
    height: 10px;
    width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

}

.darkShape {
    border: 1px solid black;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    background-color: black;
}

.lightShape {
    border: 1px solid #dbd5d5;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    background-color: white;
}

.desc {
    font-size: small;
    text-align: center;
}